*{
    margin: 0px;
}

div{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

body{
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.169);
}

main{
    
    background-color: rgba(0, 0, 0, 0.808);
    height: 85%;
    display: flex;
    width: 25%;
    margin: auto;
    margin-top: 40px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 5px 5px 12px #000000b5;
}

#verde{
    background-color: green;
}

#laranja{
    background-color: orange;
}

#vermelho{
    background-color: red;
}